[Desktop Entry]
Name=Gyawun Music
Comment=Music streaming Application
Exec=gyawun
Icon=com.jhelum.gyawun
Terminal=false
Type=Application
Categories=Entertainment;AudioVideo;Music;Player;
Keywords=music;player;audio;