name: Flutter CI

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2.16.0
        with:
          channel: stable
          flutter-version: 3.22.2
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17.0.10
      - run: java --version
      - run: flutter pub get
      - run: flutter build apk
      - uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: build/app/outputs/apk/release/app-release.apk
